<app-header titulo="Astronomía" icono="planet-outline" >
  
</app-header>

<ion-content>
  <app-card imagen="andromeda.jpg" titulo="Andrómeda" subtitulo="Galaxia" descripcion="La galaxia de Andrómeda, también conocida como Galaxia Espiral M31, Messier 31 o NGC 224, es una galaxia espiral con un diámetro de doscientos veinte mil años luz y de unos ciento cincuenta mil años luz entre los extremos de sus brazos. Es el objeto visible a simple vista más lejano de la Tierra.ñ"></app-card>
</ion-content>
