<app-header titulo="Filosofía" icono="flame-outline" >
  
</app-header>

<ion-content [fullscreen]="true">
  <app-card imagen="caverna.jpg" titulo="El mito de la caverna" subtitulo="Platón" descripcion="La alegoría de la caverna pretende poner de manifiesto el estado en que, con respecto a la educación o falta de ella, se halla nuestra naturaleza, es decir, el estado en que se halla la mayoría de los hombres con relación al conocimiento de la verdad o a la ignorancia."></app-card>

</ion-content>
