<app-header titulo="Música" icono="musical-notes-outline">
  
</app-header>

<ion-content [fullscreen]="true">
  
 <app-card imagen = "Tool_Lateralus.jpg" descripcion="Lateralus es el tercer álbum de estudio de la banda de metal progresivo Tool. El disco se publicó el 15 de mayo de 2001 mediante el sello Volcano Entertainment. En los Estados Unidos, debutó en la primera posición de la lista Billboard 200 en su lanzamiento inicial, vendiendo 555 200 copias en su primera semana de lanzamiento.1​2​ El 5 de agosto de 2003, fue certificado doble disco de platino en los Estados Unidos por parte de la RIAA.3​ Hasta julio de 2010, el álbum vendió 2 609 000 copias en los Estados Unidos." subtitulo="Tool" titulo="Lateralus">

 </app-card>
</ion-content>
